<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="bg">
    <h1>Hello there! Here is some information about me.</h1>
    <p><span style="font-weight:bold;">Name:</span> Yusuf</p>
    <p><span style="font-weight:bold;">Phone:</span> +992 93-888-78-74</p>
    <p><span style="font-weight:bold;">E-mail:</span> yusuf.aminoff@gmail.com</p>
    <p><span style="font-weight:bold;">City:</span> Dushanbe</p>
  </div>
  </body>
</html>